/build/Saves/
/updates/
/build/screenshots/

error_log_*
*FastExt.bb
*FastText_Unicode.bb
*FastImage.bb
Thumbs.db
MapSystem.bb.rej
UpdateEvents.bb.rej

*.DS_Store
*.ipf
*.iws
*.bb_bak*
*.SI
*.code-workspace
*-autosave.kra
*.png~
*.log
*.exe.Backup